---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Titel from "../components/Titel.astro";
import Projekter from "../components/Projekter.astro";
import Info from "../components/Info.astro";
import MineSkills from "../components/MineSkills.astro";
import portrait from "../assets/images/portrait.png";
---
<MainLayout title="Laura Backe - Praktikansøgning">
	
	<section>
		<Titel></Titel>
	</section>

	<section id="ommig" class="bg-[var(--secondary-color-100)] shadow rounded-[40px] w-[400px] lg:w-[1000px] mt-24 lg:mt-32   grid lg:grid-cols-2 mx-2 mr-4 ml-[2rem] lg:ml-[80px] section2">
		<div class="m-4 mx-4 flex flex-col gap-4 p-2 lg:p-6">
			<h3 class="text-base lg:text-[27px] pt-2 lg:pt-4">Mit navn er Laura Backe</h3>
			<p class="text-[16px] lg:text[24px]">Jeg er en <mark>multimediedesignstuderende</mark> på KEA og selvudnævnt digital designer, med øje for lækre farvekombinationer og en forkærlighed for sjove grafiske motiver. Mine ambitioner er tit (for) høje og jeg prioriterer altid et <mark>unikt design</mark> som kan bære sig selv.
			</p>
			<p class="text-[16px] lg:text[24px]">
				Jeg arbejder pt som <mark>butiks-, produktion- og digital medarbejder</mark> hos SCHERNING København, hvor jeg har bla ansvarsområder indenfor deres Shopify samt photoshopper produktsbilleder til webshoppen og SoMe.</p>
		</div>
		<div>
			<Image class="overflow-hidden h-full w-[600px] lg:w-[800px] pt-2 lg:pt-4 px-6" src={portrait} alt="billede af Laura Backe"/>
		</div>
	</section>

	<section id="skills" class=" mt-[50px]   lg:mt-[135px] lg:mb-[80px] lg:ml-[80px] z-[50] section3">
		<div class="lg:w-[690px]  mx-2 p-2 mt-[30px] flex flex-col gap-4 z-10">
			<h2 class=" text-[var(--accent-color-100)] text-[32px] md:text-[64px]">mine skills</h2>
			<p class="text-[16px] lg:text[24px]">Under min uddannelse har jeg lært samtlige teknikker, som jeg bruger i mine projekter. Før jeg starter et projekt laver jeg en research, hvor jeg går ind og kigger på både brugerne af løsningen men også de trends og UI patterns som andre løsninger bruger sig af, til enten inspiration eller se hvordan man kan skille sig ud.
			</p>
			<h4>det kreative</h4>
			<p class="text-[16px] lg:text[24px]">Jeg arbejder med grafisk design ved hjælp af værktøjer som Adobe Illustrator og Photoshop. Her skaber jeg visuelle elementer, logoer og ikoner, som integreres i de digitale løsninger og bidrager til en stærk visuel identitet. 
			</p>
			<h4>det praktiske</h4>
			<p class="text-[16px] lg:text[24px]">I mine processer skaber jeg interaktive og levende figma prototyper, som jeg så koder ud fra i vscode. Ud over HTML, CSS, og lidt JavaScript, benytter jeg mig af  tailwind, astro, animate.css og alpine.
			</p>
			<p class="text-[16px] lg:text[24px]">For mig er det spændende og tilfredsstillende, at være involveret i et projekt fra idé til færdig løsning.</p>
		</div>
		<MineSkills></MineSkills>
	</section>

	<section id="projekter" class="section4">
		<Projekter></Projekter>
	</section>

	<section id="leder" class="mt-[100px]  lg:mt-[150px] section5">
		<div class="lg:grid lg:grid-cols-2 lg:ml-[80px] mx-4 bg-[var(--accent-color-100)] h-full  lg:w-[1000px] rounded-[40px] shadow  p-10">
			<div class="flex flex-col gap-2">
				<h2 class="text-[var(--accent-color-200)] mb-[10px] text-[32px] lg:text-[60px]">jeg leder efter...</h2>
				<p class="pt-4 pr-2">En arbejdsplads som kan udfordre og guide mig. Jeg er spændt på at prøve mine kræfter af og bruge de værktøjer jeg har lært på KEA i rigtigt arbejdsmiljø. </p>
				<p class="pt-4 pr-2">Jeg vil rigtig gerne prøve arbejdsopgaver af, vedrørende digitalt design, om det er i figma, illustrator eller et tredje program som I mener jeg skal lære - jeg er klar på hvad end, I har at byde!</p>
				<p class="pt-4 pr-2">Det er ikke nyt for mig at være på en arbejdsplads, og jeg sætter en ære i at gøre et godt stykke arbejde, samt går til alle mine arbejdsopgaver med struktur og gåpåmod - store som små. Læs mere på min <a class="underline hover:text-[var(--secondary-color-100)] clickable" href="https://www.linkedin.com/in/laura-backe-3a6511304/" target="_blank">linked in</a> profil.
				</p>
			</div>
			<div id="kontakt" class="">
				<Info></Info>
			</div>
		
		</div>

	</section>
</MainLayout>


<script>
	import { inView } from "motion";

	const inviewelement = document.querySelector(".section1");
	inView(
		inviewelement , () => {
			inviewelement.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
		})

		const inviewelement1 = document.querySelector(".section2");
	inView(
		inviewelement1 , () => {
			inviewelement1.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})
		
		const inviewelement2 = document.querySelector(".section3");
	inView(
		inviewelement2 , () => {
			inviewelement2.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})

		const inviewelement3 = document.querySelector(".section4");
	inView(
		inviewelement3 , () => {
			inviewelement3.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})

		const inviewelement4 = document.querySelector(".section5");
	inView(
		inviewelement4 , () => {
			inviewelement4.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
		})

</script>