---
import { Image } from 'astro:assets';
import flid from "../assets/images/flid.webp";
import itmv from "../assets/images/itmvforside.webp";
import rundetaarn from "../assets/images/rundetaarn.webp";
import digitalskraldedag from "../assets/images/skraldedag.webp";
---

<section class=" lg:max-w-[75%] mt-[100px] lg:mt-[200px] mx-4 lg:mx-10 lg:ml-[80px]">
<div class=" lg:w-[530px] mb-2">
        <h2 class="text-[var(--accent-color-100)] text-[32px] lg:text-[64px]">tidligere projekter</h2>  
        <p class="my-4"> Her er et udpluk af nogle af mine seneste webløsninger.
            Forud for hver løsning, har indgået research, wireframing og prototyping. </p>
          <p>
            Se alle kodet sites  <a class="underline font-semibold hover:text-[var(--secondary-color-100)] clickable" href="https://github.com/laba0002" target="_blank">på github</a> eller flere projekter på <a class=" clickable underline font-semibold hover:text-[var(--secondary-color-100)]" href="https://laba0002.github.io/portfolio_website/" target="_blank">mit portfolio</a> fra 2023.
        </p> 
</div>

<div class="uppercase pt-1 lg:grid grid-cols-2 gap-5 w-full mx-auto">
      <div>
        <a href="https://rundetaarn.netlify.app/?fbclid=IwY2xjawGQY4JleHRuA2FlbQIxMAABHdcdEcaOMMeO-EMYlhN8PMgkc_u3wyqQDhaSVwvTj3zyQ2bRIrGuCE-zqw_aem_YuDzQFOI0M_Ig5G2g2mpKQ" target="_blank">
          <div class="relative mt-5 min-w-[300px] min-h-[160px] md:min-h-[220px]">
            <h6 class="absolute z-50 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-white">Rundetaarn <br> Kampagne</h6>
            <Image class="absolute inset-0 object-cover w-full h-full text-center" src={rundetaarn} alt="Rundetårns kampagne forside"/>
            <div class="absolute inset-0 bg-[var(--accent-color-100)] opacity-50 md:opacity-100 md:hover:opacity-50 transition-opacity duration-300"></div>
          </div>
        </a>
      </div>
        <div>
            <a href="https://flid.netlify.app/" target="_blank">
              <div class="relative mt-5 min-w-[300px] min-h-[160px] md:min-h-[220px]">
                <h6 class="absolute z-50 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white">Flid</h6>
                <!-- <img class="absolute inset-0 object-cover w-full h-full" src="Vildmad.jpg" alt="Vild Mad"> -->
                <Image class="absolute inset-0 object-cover w-full h-full" src={flid} alt="flids forside"/>
                <div class="absolute inset-0 bg-[var(--accent-color-100)] opacity-50 md:opacity-100 md:hover:opacity-50 transition-opacity duration-300"></div>
              </div>
            </a>
          </div>
          <div>
            <a href="https://skraldedag11.netlify.app/" target="_blank">
              <div class="relative mt-5 min-w-[300px] min-h-[160px] md:min-h-[220px]">
                <h6 class="absolute z-50 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white">Digital Skraldedag</h6>
                <Image class="absolute inset-0 object-cover w-full h-full" src={digitalskraldedag} alt="digital forside"/>
                <div class="absolute inset-0 bg-[var(--accent-color-100)] opacity-50 md:opacity-100 md:hover:opacity-50 transition-opacity duration-300"></div>
              </div>
            </a>
          </div>
    <div>
      <a href="https://itmv-webfeature-gruppe-8.netlify.app/" target="_blank">
        <div class="relative mt-5 min-w-[300px] min-h-[160px] md:min-h-[220px]">
          <h6 class="absolute z-50 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white">I tråd med verden</h6>
          <Image class="absolute inset-0 object-cover w-full h-full" src={itmv} alt="I tråd med verdens forside"/>
          <div class="absolute inset-0 bg-[var(--accent-color-100)] opacity-50 md:opacity-100 md:hover:opacity-50 transition-opacity duration-300"></div>
        </div>
      </a>
    </div>
  </div>				
</section>

